
.imgLeft img{
	
	width: 45%;
	height: auto;
}

.imgRight img{
	
	width: 45%;
	height: auto;
}

.aboutAxzc{
	width: 96%;
	MARGIN-RIGHT: auto;MARGIN-LEFT: auto;
}

.aboutAxzc img{
	height: auto;
    width: 100%;
}

.aboutAxzc h2{
	font-size: 1.5em;
	color: #ee7500;
    margin-top: 1em;
    margin-bottom: 1em;
	font-family: Segoe UI,"Microsoft YaHei","Hiragino Sans GB","华文细黑","STHeiti",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.aboutAxzc p{
	line-height: 1.8em;
    margin-bottom: 2em;
	font-size: 14px;
}

.ownerBanner{
	height:500px;
	width:100%;
}


.zfb_datu_ul{
	height:500px;
	position:relative;
}
.zfb_datu_ul li{
	height:500px;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
}
.datu_li1{
	background:url(/static/banner01.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
}
.datu_li2{
	background:url(/static/banner02.jpg) no-repeat;
	background-position:50% 50%;background-size:cover;
}
.datu_li3{
	background:url(/static/banner03.jpg) no-repeat;
	background-position:50% 50%;
	background-size:cover;
}
.datu_li4{
	background:url(/static/banner04.jpg) no-repeat;
	background-position:50% 50%;
	background-size:cover;
}
