/* 网页底部 */
.flowLay{
	background:url(/static/flowLay.jpg) no-repeat center;
	height:170px;
}
.flowList{
	width:1170px;
	margin:0 auto;
}
.flowList a{
	color:#fff;
}
.flowList .flowIcon01{
	float:left;
	padding:42px 30px 0;
	background:url(/static/flowLine.png) no-repeat 95px 70px;
}
.flowList .flowIcon01 em{
	font-size:18px;
	color:#fffefe;
	display:block;
	padding-top:77px;
	background:url(/static/flowBg01.png) no-repeat center 0;
}
.flowList .flowIcon02{
	float:left;
	padding:42px 35px 0 0;
	background:url(/static/flowLine.png) no-repeat 213px 70px;
}
.flowList .flowIcon02 span{
	display:block;
	padding-left:94px;
	background:url(/static/flowLine.png) no-repeat -48px 28px;
}
.flowList .flowIcon02 em{
	font-size:18px;
	color:#fffefe;
	display:block;
	padding-top:77px;
	background:url(/static/flowBg02.png) no-repeat center 0;
}
.flowList .flowIcon03{
	float:left;
	padding:42px 90px 0 0;
	background:url(/static/flowLine.png) no-repeat 163px 70px;
}
.flowList .flowIcon03 span{
	display:block;
	padding-left:80px;
	background:url(/static/flowLine.png) no-repeat -97px 28px;
}
.flowList .flowIcon03 em{
	font-size:18px;
	color:#fffefe;
	display:block;
	padding-top:77px;
	background:url(/static/flowBg03.png) no-repeat center 0;
}
.flowList .flowIcon04{
	float:left;
	padding:42px 140px 0 0;
	background:url(/static/flowLine.png) no-repeat 145px 70px;
}
.flowList .flowIcon04 span{
	display:block;
	padding-left:80px;
	background:url(/static/flowLine.png) no-repeat -116px 28px;
}
.flowList .flowIcon04 em{
	font-size:18px;
	color:#fffefe;
	display:block;
	padding-top:77px;
	background:url(/static/flowBg04.png) no-repeat center 0;
}
.flowList .flowIcon05{
	float:left;
	padding:42px 40px 0;
	background:url(/static/flowLine.png) no-repeat -155px 70px;
}
.flowList .flowIcon05 em{
	font-size:18px;
	color:#fffefe;
	display:block;
	padding-top:77px;
	background:url(/static/flowBg05.png) no-repeat center 0;
}

/* service */
.service{
	background:#e5e5e5;
}
.QcoL5{
	width:50%;
}
.f-ed{
	background:#ededed;
}
.serviceR{
	padding:34px 0 26px 40px;
	float:left;
}
.serviceR dt{
	width:220px;
	display:inline-block;
	float:left;
}
.serviceList{
	width:100%;
	padding:66px 0 20px;
	float:left;
}
.serviceList li{
	width:145px;
	border-left:1px solid #d7d7d7;
	height:125px;
	float:left;
}
.serviceList li a{
	font-size:12px;
	color:#666;
	display:block;
	line-height:24px;
	padding-left:18px;
}
.serviceList li a:hover{
	color:#20cebb;
}
.serviceList li p{
	font-size:14px;
	color:#666;
	line-height:24px;
	padding-bottom:4px;
	padding-left:18px;
}
.serviceList li p a{
	color:#666;
	padding-left:0;
}
.serviTit{
	width:100%;
	height:24px;
	padding-bottom:10px;
}
.SerSubTit{
	width:100%;
	text-align:left;
	font-size:12px;
	color:#818181;
	line-height:24px;
}
.serPhone{
	font-size:24px;
	font-family:Arial;
	color:#20cebb;
}
.serviceR dd{
	border:1px solid #e2e2e2;
	background:#f1f1f1;
	padding:12px 5px;
	width:270px;
	display:inline-block;
	float:left;
}
.weixin{
	font-size:12px;
	padding:0 8px;
	text-align:center;
	float:left;
	width:108px;
	color:#808080;
}
.weixinFr{
	float:right;
}
.weixin img{
	width:108px;
	height:108px;
	padding-bottom:6px;
}

/* footer */
.footer{
	background:#d9d9d9;
	padding-bottom:20px;
}
.linkTit{
	font-size:30px;
	text-align:center;
	color:#818181;
	font-weight:normal;
	width:1170px;
	padding:37px 0 27px;
	margin:0 auto;
	border-bottom:1px solid #e5e5e5;
}
.fotLink{
	font-size:12px;
	color:#818181;
	line-height:24px;
	padding:22px 0;
	text-align:center;
}
.fotLink a{
	color:#818181;
	white-space:nowrap;
	display:inline-block;
	margin:0 5px;
}
.fotLink a:hover,
.footInfo a:hover{
	color:#20cebb;
}
.footInfo{
	padding:10px 0;
	text-align:center;
}
.footInfo a{
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	padding:10px 24px;
	color:#666;
	background:#e5e5e5;
	margin:0 3px;
}
.Copyright{
	font-size:12px;
	text-align:center;
	color:#848484;
	padding-top:10px;
}
.w1170Tab{
    width:1170px;
    margin:0 auto;
	padding-top:36px;
}
.w1170TabMenu{
	overflow:hidden;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:18px;
}
.w1170TabMenu ul{
	width:478px;
	display:block;
	margin:0 auto;
	position:relative;
}
.w1170TabMenu ul a{
    text-align:center;
    cursor:pointer; 
	font-size:18px;
	display:block;
	font-weight:bold;
	color:#818181;
	width:110px;
	margin:0 4px;
	background:#e5e5e5;
	height:38px;
	line-height:38px;
	position:absolute;
	top:0;
	right:6px;
}
.w1170TabMenu ul a:hover{
	color:#20cebb;
}
.w1170TabMenu ul li{
    float:left; 
    text-align:center;
    cursor:pointer; 
	font-size:18px;
	font-weight:bold;
	color:#818181;
	width:110px;
	margin:0 4px;
	background:#e5e5e5;
	height:38px;
	line-height:38px;
}
.w1170TabMenu ul li.selected{
    color:#20cebb;
	background:url(/static/selectedBg.png) no-repeat center;
	height:45px;
}
.w1170TabBox{
	overflow:hidden;
}
.tabBox1,.tabBox3{
	display:none;
}


